
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sauce Two', sans-serif;
    line-height: 1.6;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.227); 
    padding: 10px 20px;
    z-index: 1000;
    transition: top 0.3s ease-in-out; 
    height: 60px; 
    
}


.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    
   
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    
}

.nav-links li a:hover {
    color: #d04c00;
}


#home {
    position: relative;
    height: 90vh;
    background-image: url('./Home.svg'); 
    background-size: cover;
    background-position: center;
}

.oveerlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.223); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes scaleUp {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}



#about{
display: flex;
width: 100%;
background-color: #faefe0;
height: 80vh;
overflow: hidden;
gap: 10%;
background-size: cover;
background-position: center;
}
.bkt{
    display: flex;
    
}
.bkt img{
    display: flex;
    


    border-radius: 10%;
    background-size: cover;
  background-position: center;
}
.overlay{
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    align-items: center;
    justify-content: center;
}
.overlay h2{
 font-family: "Bebas Neue", sans-serif;
 font-size: 4rem;
  margin-bottom: 20px;
  color: #fffefe; 
  text-shadow: 2px 2px 10px rgba(4, 4, 4, 0.7);
  width: auto;
}

.majorbutton{
    display: flex;
    gap:40px;
}

button {
   width: 100px;
   height: 40px;
   font-family: "Bebas Neue", sans-serif;
   border: solid white;
   background-color: #82747400;
   color: white;

}
button:hover{
    background-color: black;
    color: white;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url('./Opportunities.png') ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
  }
  .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
.cat-card p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    border: solid rgb(13, 13, 13);
    border-width: 2px;
   border-left: none;
   border-right: none;
   border-bottom: none;
   
}

.cat-card h6{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    border: solid;
    border-left: none;
    border-right: none;
}
.cat-card a{
    text-decoration: none;
    color: black;
   
}
.cat-card a:hover{
    color: white;
    
    
}

.cat-card h6:hover{
    background-color: #333;
}

.overlay p {
    font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    
  }
  #categories{
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        

  }
  .cat-card {
    background-color: white;
    border: solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.cat-card img {
    width: 100%;
    
    height: 200px;
    object-fit: cover;
}
section {
  
    padding: 20px;
    border: 1px solid #ccc;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

section.visible {
    opacity: 1; 
    transform: translateY(0); 
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px){
    #about {
        flex-direction: column; 
        height: auto; 
        justify-content: center;
        align-items: center;
    }
    .overlay p{
            font-size: 1.5em; 
            padding: 0 5px; 
        
}
.bkt img {
    border-radius: 10%;
    
    justify-content: center; 
    align-self: center;
    flex-wrap: wrap;
}
#home{
    width: 100%;
    height: 400px;
}
#greeting {
    font-size: 1.5rem; 
}
#categories{
    display: flex;
    flex-wrap: wrap;

}
#time {
    font-size: 2rem; 
}
header{
    width: 100%;
}
}
@media (max-width: 480px){
    #about {
        flex-direction: column; 
        height: auto; 
        justify-content: center;
        align-items: center;
        
    }
    .overlay p{
            font-size: 1em; 
            padding: 0 5px; 
        
}

.overlay h2{
    font-size: 2rem; 
    padding: 0 5px; 

}
#greeting {
    font-size: 1.2rem; 
}

#time {
    font-size: 1.8rem; 
}
#categories{
    display: flex;
    flex-wrap: wrap;

}

.bkt img {
    border-radius: 10%;
    justify-content: center; 
    align-self: center;
    flex-wrap: wrap;
}
#home {
        background-image: url(./Homeus.png);
    
}
header{
    width: 100%;
}
}
@media (max-width: 1200px){
    
   

.bkt img {
    
    width: 400px;
    height: 400px;
    justify-content: center; 
    align-self: center;
    
}
#home{
    width: 100%;
}

}
#contact-1{  
    padding: 20px;  
    
    background-color: #d04c00;
}  

  
.brand-name a{ 
    font-family: "Bebas Neue", sans-serif; 
    font-size: 36px;  
    margin-bottom: 20px;  
    color: #fff;
}
.brand-name :hover { 
    color: black;
}

.community, .business-hours, .social {  
    font-family: 'Open Sauce Two', sans-serif;
    font-weight: 500 bold;
    margin: 20px 0;
}  
.community h2, .business-hours h2, .social h2{  
    font-family: "Bebas Neue", sans-serif; 
    font-weight: 500 bold;
    letter-spacing: 5px;
    margin: 20px 0;  
}

h2 {  
    font-size: 24px;  
    margin-bottom: 10px;  
    border-bottom: 3px solid white;  
    display: inline-block;  
    padding-bottom: 5px;  
}  

.social-icons a {  
    margin: 0 10px;  
    text-decoration: none;  
    color: white;  
    font-size: 18px;  
}  
hr {
    border: 10px solid green;
    border-radius: 5px;
  }
@media (max-width: 380px) {
    #about {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
      
    }

    .overlay p {
        font-size: 0.9rem;
        padding: 0 5px;
    }

    .overlay h2 {
        font-size: 1.8rem;
        padding: 0 5px;
    }


    .bkt img {
        width: 200px;
        height: 200px;
        border-radius: 8%;
    }

    .navbar {
        padding: 5px 10px;
        height: 50px;
    }

    .nav-links li {
        margin-left: 10px;
    }

    button {
        width: 80px;
        height: 35px;
        font-size: 0.9rem;
    }

    footer {
        padding: 5px;
        font-size: 0.8rem;
    }

    #home {
        height: 300px;
        background-size: contain;
    }

    .hero {
        height: 80vh;
    }

    .hero-content {
        padding: 10px;
    }
}

